aiofiles==0.4.0
AoikLiveReload==0.1.0
argh==0.26.2
httptools==0.0.13
Jinja2==2.10
livereload==2.6.0
MarkupSafe==1.1.1
multidict==4.5.2
pathtools==0.1.2
python-dotenv==0.10.1
PyYAML==3.13
sanic==18.12.0
sanic-jinja2==0.7.4
six==1.12.0
tornado==6.0.1
ujson==1.35
watchdog==0.9.0
websockets==6.0
